  body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: cursive;
  }

  h1 {
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
  }
  h2 {
    color: #66BFBF;
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .intro{
    width: 35%;
    margin: auto;
  }
  .btn,h3 {
    color: #11999E;
  }

  .top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 50px;


  }
  .middle-container {
margin: 100px 0;
  }

  .bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  margin-top: 50px;
  }
  .bottom-container p {
    margin-bottom: 0;
  }
  .bottom-container a{
    color: #11999E;

  }
  .top-cloud {
    position: absolute;
    right: 23%;
    top: 50px;
  }
  .bottom-cloud {
    position: absolute;
    left: 15%;
    top: 40%;
  }

  .profile-image{
    width: 200px;
  }

  .image1 {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .image2 {
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  .top-container p {
    font-weight: normal;
  }
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  hr {
    border-color: #EAF6F6;
    border-width: 10px;
    border-style: none;
    border-top-style: dotted;
    width: 5%
  }
  .btn {
    background-color:#66BFBF;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
  }
  .contact-me p {
    margin-bottom: 25px;
  }

  a{
    color: #11999E;
    font-family: sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #EAF6F6;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
